* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Playfair Display', serif;
    background-color: #fff0f5;
  }
  
  .titulo-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d81b60;
    color: white;
    padding: 20px;
  }
  
  .menu-navegacao a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu-navegacao a:hover {
    opacity: 0.7;
  }
  
  .secao-destaque {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(rgba(216,27,96,0.8), rgba(216,27,96,0.3)),
                url('./assets/unha4.png');
    background-size: cover;
    color: white;
  }
  
  .subtitulo {
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  .texto-destaque {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .texto-depoimento {
    margin-top: 10px;
    font-style: italic;
  }

  .botao-agendar {
    background-color: #ff4081;
    border: none;
    padding: 15px 25px;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .botao-agendar:hover {
    background-color: #c2185b;
  }

  .secao {
    padding: 40px 20px;
    text-align: center;
  }
  
  .lista-servicos {
    margin-top: 15px;
    display: flex;
    text-align: center;
    gap: 50px;
    justify-content: center;
  }
  
  .lista-servicos li {
    margin-bottom: 10px;
    font-size: 20px;
    display: inline-block; 
    background-color: #ff4081; 
    color: white;         
    padding: 10px 20px;    
    margin: 10px;          
    border-radius: 20px;   
    font-weight: bold;

  }
  
  .container-galeria {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .container-avaliações {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .imagem-unhas {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .imagem-unhas:hover {
    transform: scale(1.05);
  }
  
  .rodape {
    background-color: #d81b60;
    color: white;
    text-align: center;
    padding: 20px;
  }
